.our {
margin-top: 118px;
display: flex;
}
.capa {
    width: 198px;
    height: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 2.31px;
    vertical-align: bottom;
    margin-left: 485px;
    color: #48555B;
}
.lorem2 {
    width: 400px;
    height: 38px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 19px;
    letter-spacing: 0.2px;
    vertical-align: middle;
    margin-left: 150px;
}
.all {
    margin-left: 31px;
}
.line2 {
width: 50px;
height: 2px;
margin-top: 10px;
}
.bitmap {
    display: flex;
    margin-left: 485px;
}
.bit1 {
    width: 65.625px;
    height: 75px;
    margin-left: 23px;
}
.proj {
    margin-top: 25px;
}
.str {
    width: 295px;
    height: 330px;
    margin-top: 116px;
    margin-left: 28px;
}
.fact {
    width: 295px;
    height: 330px;
    margin-top: 116px;
    margin-left: 28px;
}
.ipsum {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.19px;
    vertical-align: middle;
    color: #48555B;
    margin-top: 13px;
    margin-left: 23px;
}
.strtext {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.43px;
    vertical-align: middle;
    color: #48555B;
    margin-top: 25px;
}
.dolor {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.19px;
    vertical-align: middle;
    color: #48555B;
    margin-top: 13px;
}
.facttext {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.43px;
    vertical-align: middle;
    color: #48555B;
    margin-top: 25px;
}
.sit {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.19px;
    vertical-align: middle;
    color: #48555B;
    margin-top: 13px;
}
.projtext {
    margin-top: 13px;
}
.bitimg {
    width: 65px;
    height: 75px;
}




/*  примеры стиля  */

.bitMap {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 28px;
    margin-top: 80px;
}


.bitMap__sevice {
    padding: 40px 20px;
    width: calc((100% - (28px * 2)) / 3);
    /* высоту не используем */
    /* height: 100px; */
}