.contact-info {
    width: 500px
}

.contact-info__title {
    font-size: 24px;
    font-weight: 600;
    color: #000;
}

.contact-info__email {
    font-size: 16px;
    color: #000;
}

.contact-info__phone {
    font-size: 16px;
    color: #000;
}

.contact-info__address {
    font-size: 16px;
    color: #000;
}